:host {
  display: flex;
  flex-direction: column;
}

.mat-tab-group {
  flex: 1;
  overflow: hidden;

  ::ng-deep {
    .mat-tab-label {
      flex: 1;
      min-width: 100px;
    }

    .mat-tab-body-wrapper {
      height: 100%;

      .mat-tab-body-content {
        display: flex;
        flex-direction: column;

        .head {
          display: flex;
          height: 56px;
          align-items: center;

          .mat-form-field {
            flex: 1;

            .mat-form-field-infix {
              width: auto;
            }
          }
        }

        .mat-tree {
          flex: 1;
          overflow: auto;

          .mat-tree-node {
            &:hover {
              background-color: #00000020;
            }

            &.isSelected {
              background-color: #303030;
            }
          }
        }
      }
    }
  }
}
