.header {
  display: flex;
  flex-direction: row;
  padding: 10px;

  .mat-form-field {
    flex: 1;
    margin-right: 10px;

    .mat-datepicker-toggle {
      font-size: 1.5em;
    }
  }
}

.container {
  overflow: hidden;
  flex: 1;
  display: flex;

  .tree {
    flex: 1;
    display: flex;
    flex-direction: column;

    app-cash-outs-tree {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
      min-width: 200px;
    }
  }

  app-cash-out-details, .space {
    flex: 3;
    padding: 10px;
    overflow: hidden;

    @media screen {
      display: flex;
      flex-direction: column;
    }
  }
}

@media print {
  .header, app-cash-outs-tree, app-cash-out-details, .space {
    display: none;
  }
}
