<div class="header">
  <mat-form-field (click)="date.open()">
    <mat-label>Rechercher</mat-label>
    <input matInput [matDatepicker]="date" [(ngModel)]="filterDate" readonly>
    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
    <mat-datepicker #date disabled="false"></mat-datepicker>
  </mat-form-field>
</div>

<div class="container">
  <div class="tree">
    <app-cash-outs-tree *ngIf="cashOuts" [cashOuts]="cashOuts" [expandDate]="filterDate" (cashOutSelected)="showCashOutDetails($event)"></app-cash-outs-tree>
    <button mat-raised-button color="accent" (click)="addCashOut()">+ Ajouter</button>
  </div>
  <app-cash-out-details *ngIf="currentCashOut" [cashOut]="currentCashOut" (cashOutDeleted)="currentCashOut = null"></app-cash-out-details>
  <div class="space" *ngIf="!currentCashOut"></div>
</div>
