<button mat-raised-button (click)="collapseAll()">Tout réduire</button>
<mat-tree *ngIf="dataSource" [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node
    *matTreeNodeDef="let cashOutFlatNode"
    matTreeNodePadding
    [class.isSelected]="cashOutFlatNode.isSelected"
    [style.display]="shouldRender(cashOutFlatNode) ? 'flex': 'none'"
    (click)="cashOutFlatNode.value ? onClickCashOutFlatNode(cashOutFlatNode): null"
  >
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'Ouvre' + cashOutFlatNode.label"
      (click)="cashOutFlatNode.isExpanded = !cashOutFlatNode.isExpanded"
      [style.display]="cashOutFlatNode.isExpandable ? 'inline-block' : 'none'"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{cashOutFlatNode.isExpanded ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{ cashOutFlatNode.label + (cashOutFlatNode.level === 3 ? (cashOutFlatNode.value.total | currency:'EUR') : '') }}
  </mat-tree-node>
</mat-tree>
